# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/modules.xml
/projectSettingsUpdater.xml
/.idea.Team Gold.iml
/contentModel.xml
# Datasource local storage ignored files
/../../../../../../../../../../:\Users\kelme\Documents\GitHub\TheDreamDragon\Team Gold\.idea\.idea.Team Gold\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
